<table width='100%' height='100%'>
        <tr>
            <td style="text-align: right">Chat Room Name</td>
            <td style="text-align: left">      
                <input #chatRoomField       
                    (keyup.enter)="setChatRoom(chatRoomField.value)"
                    (blur)="setChatRoom(chatRoomField.value)">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">User Name</td>
            <td style="text-align: left">      
                <input #userNameField
                    (keyup.enter)="setUserName(userNameField.value)"
                    (blur)="setUserName(userNameField.value)">
            </td>
        </tr>
        <tr>
            <td style="text-align: right"></td>
            <td style="text-align: left"><button type="button" class="nav-item nav-link-edit" [routerLink]="['../chatter']">Enter Chat Room</button></td>
        </tr>
    </table>
    <p>{{chatRoom}}</p>
    <p>{{userName}}</p>
